/* ======================================
Dark Mode Toggle Styles 
====================================== */

.dark-mode-toggle input[type="checkbox"] {
  display: none;
}

.dark-mode-toggle label {
  margin-right: 1rem;
  display: block;
  width: 2.7em;
  height: 1.5em;
  background-color: #ddd;
  border-radius: 2rem;
  position: relative;
  cursor: pointer;
}

.dark-mode-toggle label:after {
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease-in-out;
}

.dark-mode-toggle input[type="checkbox"]:checked + label {
  background-color: #6eec07;
  /* box-shadow: 0 0 30px 20px #6eec074f; Remove this line */
}

.dark-mode-toggle input[type="checkbox"]:checked + label:after {
  transform: translateX(100%);
}

.navbar-right {
  display: flex;
  align-items: center;
}

/* ========================
Cards Styles
========================== */

.card-container {
  margin-top: 20px;
  margin-right: 25%;
  margin-left: 25%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  gap: 7rem; /* 7rem 105px */
}

.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  color: #d0ffca;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.part-number {
  background: #7a1bff23 !important;
  color: #bf8cff;
  border: solid 1px #9b5fff3d;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}

.keys {
  display: none;
  background-color: rgb(40, 40, 40);
  color: white;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.chapa-details {
  /* background-color: #28a745; */
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.chapa-card {
  border-radius: 10px;
}
.chapa-card .card-body {
  padding: 10px;
}

.form-check-input:checked + .form-check-label {
  text-decoration: line-through;
}

.custom-checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

/* checkboxes */
.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
}
.custom-checkbox input:checked ~ .checkmark {
  background-color: #28a745;
}

.ordem-div, .prazo-div {
  background-color: #4d7099;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.ordem {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
  padding: 10px;
}

@media (max-width: 600px) {
  .ordem {
    position: static;
    border-radius: 50px;
  }
}

.btn-submit {
  display: block;
  margin-top: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: not-allowed;
  opacity: 0.6;
}
.btn-submit.enabled {
  cursor: pointer;
  opacity: 1;
}
.btn-submit.align-right {
  margin-left: auto;
}

.finalizado {
  color: #727272;
  backdrop-filter: blur(10px);
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  .card-container {
    margin-right: 2%;
    margin-left: 2%;
  }
  .keys {
    display: none;
  }
  .card-header,
  .card {
    font-size: 11px;
    font-weight: normal;
  }
}

/* ======================================
Light Mode
====================================== */

body.light-mode {
  background-color: #fff;
  color: #000;
}

body.light-mode .navbar {
  background-color: #f8f9fa;
}

body.light-mode .card {
  background-color: #fff;
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.light-mode .card-body {
  background-color: #fff;
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.light-mode .card-header {
  color: #000;
}

body.light-mode .part-number {
  background: #000000;
  color: #8000ff;
  border: solid 1px rgb(174, 0, 255)
}

body.light-mode .keys {
  background-color: #f8f9fa;
  color: #000;
}

body.light-mode .custom-checkbox .checkmark {
  background-color: #eee;
  border: 1px solid #ddd;
}

body.light-mode .custom-checkbox input:checked ~ .checkmark {
  background-color: #59e664;
}

body.light-mode .ordem-div, body.light-mode .prazo-div {
  background-color: #1d77ddc4;
  color: #ffffff;
}

body.light-mode .btn-submit {
  background-color: #0c9400;
  color: #ffffff;
}