/* ======================================
   Header Styles
   ====================================== */
.header-custom {
  display: flex;
  color: #1a1a1a;
  /* Cor do texto padrão para o header */
  border-bottom: solid 1px #6a6a6a45;
  background-color: #d4d4d4;
  height: 5rem;
  width: 100%;
  padding-left: 1.5rem;
}

.cardfora {
  background: #191919;
  border: none !important;
}

h1 {
  color: #0f0f0f;
  font-size: 2rem;
}

/* ======================================
   Dark Mode Toggle Styles
   ====================================== */
.dark-mode-toggle input[type="checkbox"] {
  display: none;
}

.dark-mode-toggle label {
  margin-right: 1rem;
  display: block;
  width: 2.7em;
  height: 1.5em;
  background-color: #ddd;
  border-radius: 2rem;
  position: relative;
  cursor: pointer;
}

.dark-mode-toggle label:after {
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease-in-out;
}

.dark-mode-toggle input[type="checkbox"]:checked + label {
  background-color: #6eec07;
  box-shadow: 0 0 30px 20px #6eec074f;
}

.dark-mode-toggle input[type="checkbox"]:checked + label:after {
  transform: translateX(100%);
}

/* ======================================
   Navbar Styles
   ====================================== */
#aside {
  display: flex;
  background: #e6e6e6;
  /* Cor de fundo para o aside no modo escuro */
  min-height: 70%;
  overflow-y: auto;
  /* Permite rolagem se o conteúdo for maior do que a altura da página */
  padding: 0;
}

.logo {
  width: 7rem;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #e6e6e6;
  height: 5rem;
  border: solid 1px #6a6a6a45;
  align-items: center;
  width: 100%;
  border-left: none;
}

.navbar {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

/* ======================================
   Active Link Styles
   ====================================== */
.active {
  background-color: #007bff;
  /* Cor de fundo do link ativo */
}

.active img.imgicon {
  filter: brightness(0) invert(1);
}

.active a {
  color: #ffffff;
}

.active:hover {
  background-color: #007bff;
  /* Mantém a cor de fundo do link ativo */
  cursor: default;
  /* Define o cursor como padrão */
}

.active:hover a {
  color: #ffffff;
  /* Mantém a cor do texto do link ativo */
}

/* ======================================
   General Link Styles
   ====================================== */
a {
  color: #535353;
  padding: 1rem;
  border-radius: 1.2rem;
  font-size: 1.5rem;
}

a:hover {
  color: #535353;
  text-decoration: none;
  /* Remove o sublinhado */
}

.icon-home {
  fill: red;
  /* Altere "red" para a cor desejada */
}

li {
  color: #ffffff;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 1.2rem;
  text-decoration: none;
  /* Remove o sublinhado */
}

li:hover {
  background-color: #cacaca;
}

/* ======================================
   Grid and Layout Styles
   ====================================== */
.col-md-2 {
  padding: 0%;
}

.imgicon {
  width: 1.5rem;
}

html {
  height: 100%;
}

body {
  background: #ffffff;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

.header {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-md-12 {
  padding: 0;
  margin-right: 2rem;
}

.row {
  display: flex;
  /* Para fazer os elementos dentro da linha se comportarem como flexíveis */
  height: 100%;
}

.container-fluid {
  height: 100%;
}

#container {
  max-height: 100vh;
  overflow-y: auto;
  /* Adiciona barra de rolagem vertical se necessário */
}

/* ======================================
   Scrollbar Styles
   ====================================== */
::-webkit-scrollbar {
  width: 10px;
  /* largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #424242; /* cor do 'thumb' (a parte que você arrasta) */
  border-radius: 5px; /* borda arredondada */
}

::-webkit-scrollbar-track {
  background-color: #212121;
  /* cor do fundo da barra de rolagem */
}

/* ======================================
   Dark Mode Styles
   ====================================== */
.dark-mode #aside {
  background: #9a9a9a27;
  /* Altere o fundo do modo escuro para a barra lateral conforme necessário */
  border: solid 1px #6a6a6a45;
  backdrop-filter: blur(5px);
  border-top: 0;
}

.dark-mode h1,
.dark-mode li {
  color: #cccccc;
}

.dark-mode .logo {
  filter: invert(1);
  /* Exemplo de inversão de cores */
}

.dark-mode.body {
  background: #191919;
}

.dark-mode .dark-mode-aside {
  background: #1c1c1c;
  /* Altere o fundo do modo escuro para a barra lateral conforme necessário */
}

.dark-mode .header-custom {
  display: flex;
  background: #0f0f0f;
}

.dark-mode .logo-container {
  background: #2f2f2f;
  border: solid 1px #6a6a6a45;
}

.dark-mode .logo {
  filter: invert(1);
  /* Exemplo de inversão de cores */
}

.dark-mode li:hover {
  background-color: #333333;
}

.dark-mode a {
  color: #b3b3b3;
}

/* ======================================
   Modal Styles
   ====================================== */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #00000066;
  z-index: 3;
}

.modal-content {
  background-color: #252525;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  overflow: auto;
}

.modal-content input {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  text-align: center;
}

.close {
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 15px;
  background-color: #111111;
  color: #fff;
  border-radius: 15px;
}

button:hover {
  background-color: #424242;
  color: #0e0e0e;
}

/*
==================
formulário
==================
*/

.grouping-form {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: space-between;
  background: #333333ea;
  padding: 20px;
  border-radius: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
  width: 40%;
  z-index: 2;
}

.grouping-form label {
  color: #fff;
  font-size: 1em;
  display: block;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.grouping-form input[type="text"],
.grouping-form select {
  background: #2b2b2b;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
}

.grouping-form input[type="text"]:hover,
.grouping-form select:hover {
  background: #6d6d6d;
  color: #d3d3d3;
}

.agrupar-button {
  background: #262626;
  border: none;
  border-radius: 1rem;
  color: #fff;
  padding: 10px 10px;
  transition: background 0.3s ease;
  font-size: 1em;
  grid-column: span 2;
}

.updade {
  background: #1d2b3a;
  color: #96c9ff;
  border: solid 1px #96c9ff84;
}

.updade:hover {
  background: #26394d;
  color: #96c9ff;
  border: solid 1px #96c9ff84;
}

#sortOrder {
  width: 50px;
  height: 38px;
  padding: 0;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-container {
  display: flex;
  padding: 0%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.checkbox-button {
  display: inline-block;
  padding: 10px;
  background: #56565600;
  border: 1px solid #6d6d6d;
  color: #fff;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
  user-select: none;
}

.checkbox-button[data-checked="true"] {
  background-color: #00000054 !important;
  border: #0e0e0e;
  color: #fff !important;
}

.form-control {
  height: 3rem;
}

/* ======================================
     cards
     ====================================== */

/* MAIN CARD, compartilha com todos os sistemas de cards do sistema do PCP */
.card {
  margin-bottom: 10px;
  margin-top: 15px;
  border: none;
}

.card-div {
  border-radius: 1.5rem !important;
  padding: 0px;
  margin-bottom: 10px;
  margin-top: 15px;
  background-color: rgb(34, 34, 34);
  height: 70px;
}

.card-body-div {
  display: flex;
  border-radius: 1.5rem !important;
  background-color: #232323 !important;
  font-size: 1rem;
}

.card-value-row {
  display: flex;
  overflow: auto;
  background-color: #007bff00;
  color: white;
  font-size: 1rem;
}

.value-row {
  margin-right: 0px;
  margin-left: 0px;
}

.chapa-card {
  background-color: #252525;
}

/* STATUS div que muda de cor baseado no status da chapa E do item (na consulta) */
.card-status {
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.card-status-reservado {
  background-color: #007bff;;
}

.card-status-recebido {
  background-color: #28a745;
}

.card-status-comprado {
  background-color: #007bff;
}

/* valores dentro dos cards relacionados a chapas */
.card-value-div {
  text-align: center;
  width: 100px;
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

/* CHECKBOX o checkbox do card de chapas principal, pelo problema de checkbox do navegador
talvez tenha algumas coisas nesses primeiros 3 estilos que mudam nada e podem ser excluidos */
.card-checkbox {
  width: 30px;
  height: 30px;
  border: 20px solid #0000002a;
  border-radius: 5px;
  background-color: #ffffff00;
  margin: 12px;
  cursor: pointer;
  display: inline-block;
}

.card-checkbox::after {
  content: "";
  display: none;
}

.card-checkbox:checked + .card-checkbox::after {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #4d4d4d;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: #2d2d2d;
  border: 2px solid #4e4e4e;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  align-items: center;
  align-content: center;
}

input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #007bff;
}

input[type="checkbox"]:checked::before {
  content: "✔";
  font-size: 14px;
  color: white;
  align-content: center;
}

/* INFO botão de dropdown pra mostrar mais informações, usado em item e no chapa principal */
.card-info-button {
  background: #4d4d4d;
  color: #fff;
  transition: background 0.3s ease;
  font-size: 1em;
  grid-column: span 2;
  border: none;
}

.card-info-button:hover {
  background: #6d6d6d;
  color: #fff;
}

/* DELETAR, botões de deletar em consulta diferenciado por item e chapa se precisar, mas até agr n diferenciei */
.card-item-delete-button{

}

.card-chapa-delete-button {
    margin-left: auto;
}

/* PREVIEW brief-view é a mesma coisa que preview, é a amostra que o pcp vai ver no card dos itens reservados */
.card-brief-view {
  flex-wrap: wrap;
}

.card-brief-view span {
  margin-right: 1em;
  color: #b3b3b3;
}
