# Node.js
node_modules/
npm-debug.log
yarn-error.log
temp/

# Build outputs
dist/
build/
out/

# Lixo do VsCode e JetBrains 
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.*.local

# Binários
node_modules/**/*.node
/qodana.yaml
dockerBuild.ps1
dockerRun.ps1
