# Node.js
node_modules/
npm-debug.log
yarn-error.log
temp/

# Build outputs
dist/
build/
out/

# Lixo do VsCode e JetBrains 
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Dependency lock do yarn e npm (O package.json vc deixa, o lock pode tirar)
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.*.local

# Binários
node_modules/**/*.node
/qodana.yaml

# banco de dados
**/estoque.db
Server/estoque.db
