body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#drop_zone {
    width: 300px;
    height: 200px;
    border: 2px dashed #383838;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #7c7c7c;
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px; /* Espaço entre as divs */
}

#drop_zone:hover {
    border-color: #4caf50;
}

#output {
    margin-top: 20px;
    display: none;
    background-color: #161616;
    padding: 1rem;
    margin-left: 2rem;
    border-radius: 10px;
    width: 100%;
}

#output p {
    font-size: 18px;
    background-color: #201f1f;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

#output p:hover {
    background-color: #323232;
}

.pattern-info {
    font-size: 16px;
}

#esquerda {
    background-color: #161616;
    border-radius: 2rem;
}

.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
}

/* Estilizando a tabela */
.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    border-bottom: none;
}

/* Estilizando as células do cabeçalho */
.table th {
    background-color: #161616;
    color: #4caf50;
    padding: 10px;
    text-align: left;
    border-bottom: none; /* Remove a borda horizontal */
    font-weight: normal; /* Define o peso da fonte como normal para deixar o texto mais fino */
}

/* Estilizando as células do corpo da tabela */
.table td {
    padding: 1.5rem; /* Aumenta o padding */
    text-align: left;
    border-bottom: none;
    border-radius: 0; /* Resetar o border-radius */
    min-width: 100px; /* Largura mínima das células */
}

/* Estilizando as linhas da tabela */
.table tbody tr {
    background-color: #1e1e1e;
    color: #f9f9f9;
}

/* Aplicando bordas arredondadas nas linhas */
.table tbody tr td:first-child {
    border-radius: 2rem 0 0 2rem; /* Bordas arredondadas na primeira célula da linha */
}

.table tbody tr td:last-child {
    border-radius: 0 2rem 2rem 0; /* Bordas arredondadas na última célula da linha */
}
