html, body {
    height: 100%;
    background-color: #131313;
    color: #ffffff;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.dropzone {
    height: 10rem;
    line-height: 10rem;
    border: dashed 2px #2c2c2c;
    border-radius: 2rem;
    margin: 2rem;
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.fecharbtn {
    padding: 1rem 2rem;
    background: #d9d9d9;
}

.btn-primary {
    background: #d9d9d9;
    border: none;
    font-size: 1.3rem;
    color: #797979;
    border-radius: 1rem;
}

.btn-primary:hover {
    background: rgb(198, 198, 198);
    color: #797979;
}

.table {
    margin-top: 2rem;
}

.btninferior {
    margin-top: auto;
    margin-right: 2rem;
}

@media (max-width: 576px) {
    .btninferior {
        justify-content: center;
    }
}
