html, body {
    height: 100%;
    background-color: #131313;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    padding: 5rem;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.dropzone {
    height: 10rem;
    line-height: 10rem;
    border: dashed 2px #2c2c2c;
    border-radius: 2rem;
    margin: 2rem;
}

.dropzone:hover {
    border: dashed 2px #84e789;
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}

.fecharbtn {
    padding: 1rem 2rem;
    background: #d9d9d9;
    color: #555555;
}

.btn-primary {
    background: #d9d9d9;
    border: none;
    font-size: 1.5rem;
    color: #797979;
    border-radius: 1rem;
}

.btn-primary:hover {
    background: rgb(198, 198, 198);
    color: #797979;
}

.mt-4{
    margin-top: 0 !important;
}

.table-container {
    max-height: 75vh; /* Define a altura máxima do contêiner da tabela */
    overflow-y: auto; /* Adiciona rolagem vertical quando necessário */
}

.jsonshow {
    max-height: 20vh;
    overflow-y: auto; /* Adiciona rolagem vertical quando necessário */
}

.precontainer {
    max-height: 80vh;
    overflow-y: auto; /* Adiciona rolagem vertical quando necessário */
}


.table td {
    align-content: center;
    text-align: center;
    font-size: 1.5rem;
    justify-content: center;
    height: 5rem;
}


.btninferior {
    margin-top: auto;
    margin-right: 2rem;
}

@media (max-width: 576px) {
    .btninferior {
        justify-content: center;
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.edit {
    background-color: #fdb6b6; /* Cor de fundo geral */
    border:none; /* Cor da borda geral */
    border-radius: 0.5rem;
    width: 2.5rem;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
}


/* Aumentando ainda mais a especificidade e usando !important */
body button.edit:active,
body button.edit:focus,
body button.edit:hover {
    background-color: #f8a0a0 !important;
    color: #ffffff !important;
    box-shadow: none !important;
}


.confirm {
    background: #9dffa2;
    border:none; /* Cor da borda geral */
    border-radius: 0.5rem;
    width: 2.5rem;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 2.2rem;
}


/* Aumentando ainda mais a especificidade e usando !important */
body button.confirm:active,
body button.confirm:focus,
body button.confirm:hover {
    background: #84e789 !important;
    box-shadow: none !important;
}

.form-control {
    width: 60%;
    height: 80%;
    font-size: 1.5rem;
}