html, body {
    background-color: #131313;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    height: 100vh;
}

.container {
    margin-top: 4rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.dropzone {
    height: 75%;
    line-height: 10rem;
    border: dashed 2px #2c2c2c;
    border-radius: 2rem;
    margin: 2rem;
    font-size: 2rem;
    align-content: center;
    color: #363636;
}

.dropzone:hover {
    border: dashed 2px #84e789;
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fecharbtn {
    padding: 1rem 2rem;
    background: #d9d9d9;
    color: #555555;
    height: 20%;
}

.btn-primary {
    background: #d9d9d9;
    border: none;
    font-size: 1.5rem;
    color: #797979;
    border-radius: 1rem;
}

.btn-primary:hover {
    background: rgb(198, 198, 198);
    color: #797979;
}

.mt-4{
    margin-top: 0 !important;
}

.table-container {
    max-height: calc(100vh - 10rem); /* Altura máxima - altura dos botões inferiores e do fecharbtn */
    overflow-y: auto; /* Adiciona rolagem vertical quando necessário */
}


.jsonshow {
    max-height: 20vh;
    overflow-y: auto; /* Adiciona rolagem vertical quando necessário */
}

.precontainer {
    max-height: 80vh;
    overflow-y: auto; /* Adiciona rolagem vertical quando necessário */
}


.table td {
    align-content: center;
    text-align: center;
    font-size: 1.5rem;
    justify-content: center;
    height: 5rem;
}


.btninferior {
    position: fixed;
    bottom: 0;
    left: 0; /* ou right: 0; para alinhamento à direita */
    width: 100%;
    padding-right: 2rem;
    background-color: #ffffff;
    height: 15%;
    align-items: center;
    box-shadow: 0px 0px 30px 10px rgb(255, 255, 255); /* Adiciona sombra branca */
}

@media (max-width: 576px) {
    .btninferior {
        justify-content: center;
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.edit {
    background-color: #fdb6b6; /* Cor de fundo geral */
    border:none; /* Cor da borda geral */
    border-radius: 0.5rem;
    width: 2.5rem;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#sendButton {
    height: 60%;
    width: 10rem;
    font-size: 1.5rem;
}


/* Aumentando ainda mais a especificidade e usando !important */
body button.edit:active,
body button.edit:focus,
body button.edit:hover {
    background-color: #f8a0a0 !important;
    color: #ffffff !important;
    box-shadow: none !important;
}


.confirm {
    background: #9dffa2;
    border:none; /* Cor da borda geral */
    border-radius: 0.5rem;
    width: 2.5rem;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 2.2rem;
}


/* Aumentando ainda mais a especificidade e usando !important */
body button.confirm:active,
body button.confirm:focus,
body button.confirm:hover {
    background: #84e789 !important;
    box-shadow: none !important;
}

.form-control {
    width: 60%;
    height: 80%;
    font-size: 1.5rem;
}

.header-principal {
    padding: 1rem;
    background-color: #232323;

}

#fornecedor {
    font-size: 2rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    border: none;
    background-color: #232323;
    height: 4rem;
    margin-left: 0.8rem;
    color: #878787;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 200px; /* largura personalizada */
    cursor: pointer; /* cursor personalizado */
    outline: none; /* remova a borda de foco padrão */
    margin:0 ;

}

#fornecedor:hover {
    background-color: #2a2a2a; /* Mudar a cor de fundo ao passar o mouse */
}

#fornecedor:focus {
    border:none; /* borda personalizada quando focado */
}

option {
    background-color: #131313;
    color: #cccccc;

}

h1 {
    margin: 0 auto;
    color:#84e789;

}

body button.edit.disabled {
    background-color: #ccc !important; /* Cor de fundo cinza */
    cursor: default; /* Cursor padrão */
}

.notification {
    display: flex;
    background-color: #ff3f3f;
    color: #410f0f;
    position: absolute;
    border-radius: 1rem;
    height: 4rem;
    align-content: center;
    width: 30rem;
    padding-left: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

#closeNotification {
    border: NONE;   
    background: #ff3f3f;
    color: #3b0c0c;
    border-radius: 50%;
    width: 1.7rem;
    text-align:center ;
    padding-bottom: 0.2rem;
    margin-right: 1rem;
    font-size: 2rem;
}

#closeNotification:hover {
    background-color: #a02525;
    
    
}

.errormodal {
    background-color: #1212126e;
    z-index: 9999999;
    height: 100vh;
    width: 100vw;
    position: fixed;
    backdrop-filter: blur(7px);
}

.header-button {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 5rem;
    padding: 1rem;
}

.closeButton {
    border-radius:.7rem ;
    border: none;
    width: 5rem;
}

.alert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alertimg {
    margin-top: 2REM;
    margin-bottom: 2REM;
}

#errorMessage {
    padding: 2rem;
    font-size: 2rem;
}