:root {
    --background-color: #1e1e1e;     /* Cor de fundo para o tema escuro */
    --text-color: #ccc;     /* Cor de texto para o tema claro */
}

[data-theme="light"] {
    --background-color: #f5f5f5;  /* Cor de fundo para o tema claro */
    --text-color: #1e1e1e;         /* Cor de texto para o tema escuro */
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Faz o corpo da página ocupar toda a altura da tela */
    overflow: hidden; /* Remove a barra de rolagem se não for necessário */
}

body, table, #button-container, td, th, input[type="text"], input[type="date"], select{
    background-color: var(--background-color);
    color: var(--text-color);
}


#button-container {
    width: 100%;
    padding: 10px 0;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    display: flex;
    justify-content: space-between; /* Fixa o contêiner no topo */
    top: 0; /* Posição no topo */
    left: 0; /* Alinha à esquerda */
    z-index: 1000; /* Garante que fique sobre outros elementos */
}

#drop-zone {
    width: 80%;
    height: 300px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#tables {
    width: 100%;
    height: calc(100% - 50px); /* Ajusta a altura considerando o espaço para o botão */
    overflow: auto; /* Permite a rolagem dentro das tabelas se necessário */
    margin-top: 40px; /* Espaço para o contêiner do botão */
}

table {
    width: 100%;
    border-collapse: collapse; /* Colapsa as bordas das células para uma borda única */
    background-color: #f5f5f5; /* Fundo claro para a tabela */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra leve ao redor da tabela para melhor definição */
}

th, td {
    
    text-align: center; /* Centraliza texto em cabeçalhos e células */
    padding: 8px 10px; /* Espaço adequado dentro das células */
}

input[type="text"], input[type="date"], select {
    width: 100%; /* Faz os inputs ocuparem toda a célula */
    border: none; /* Remove as bordas dos inputs */
    text-align: center; /* Centraliza o texto dentro dos inputs */
    background-color: transparent; /* Remove o fundo para igualar ao fundo da célula */
    padding: 5px; /* Espaçamento interno para conforto visual */
    box-sizing: border-box; /* Inclui padding no cálculo de width */
}

button {
    padding: 10px 20px;
    background-color: #335c30;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

button:hover {
    background-color: #2b4d28;
}

.update-button {
    display: block;
    margin: auto;
}
/* Estilos existentes */

@media (max-width: 768px) {
    #button-container {
        position: relative; /* Alterado de fixed para relative */
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 10px 0; /* Aumenta o padding para melhor toque em dispositivos móveis */
    }
    
    button {
        width: 90%; /* Ajuste na largura para melhor toque */
        margin: 5px 0; /* Reduz o espaçamento para otimizar o espaço */
    }
    
    #tables {
        width: 100%;
        margin-top: 20px; /* Ajuste para garantir que a tabela não seja coberta */
    }
    
    .scrollable-table {
        overflow-x: auto;
    }
    
    table {
        width: auto; /* Permite que a tabela expanda conforme necessário */
        min-width: 100%; /* Garante mínimo de largura conforme a largura do dispositivo */
    }
    
    th, td {
        padding: 8px;
        min-width: 60px; /* Define uma largura mínima para cada célula */
        white-space: nowrap; /* Mantém o conteúdo na mesma linha */
    }
}