
body {
    color: #000; /* Text color */
    background-color: #333; /* Background color */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
header {
    width: 100%;
    padding: 10px 0;
    background-color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
#drop_zone {
    border: 2px dashed #0087F7;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    color: #0087F7;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}
#output {
    display: none;
    width: 90%;
    border-collapse: collapse;
    margin: 80px auto 0; /* Adjusted margin top to clear fixed header */
    border: 3px solid #4caf50;
    border-radius: 10px;
    overflow: hidden;
}
th, td {
    padding: 8px;
    text-align: center; /* Centralizing text */
    vertical-align: middle; /* Aligning text vertically for aesthetic consistency */
}
th {
    background-color: #335c30;
    color: #fff;
}
td {
    color: #000;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #fff;
}
.button, .update-button {
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    background-color: #335c30; /* Matching category header color */
    border: none;
    border-radius: 5px;
}
select, input[type="date"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}