        /* Reset básico e bordas arredondadas para todos os elementos */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            border-radius: 1rem;
            font-family: Arial, sans-serif;
        }
        
        body, input, select, button {
            transition: background-color 0.3s, color 0.3s;
        }
        
        body {
            background-color: #1e1e1e;
            color: #f0f0f0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        
        .container {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 360px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        
        h1, button {
            text-align: center;
            margin-bottom: 10px;
        }
        
        .form-group {
            margin-bottom: 15px;
        }
        
        input[type="text"], input[type="password"], select, button {
            width: 100%;
            padding: 10px;
            border: 1px solid #343434;
            background-color: #222222;
            color: #ffffff;
            outline: none;
        }
        
        button {
            cursor: pointer;
            background-color: #298dff;
            color: white;
            border: none;
            font-size: 16px;
        }
        
        button:hover {
            background-color: #1a70bb;
        }
        
        #maquinaSelectContainer{
            display: none;
        }
        
        .producao-box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 10px;
        }
        
        .producao-checkbox {
            color: #6b6b6b;
            display: flex;
            align-items: center;
        }
        
        .producao-checkbox input[type="checkbox"] {
            margin-left: 5px;
        }
        
        /* Estilos para o modo claro */
        .body-light-mode {
            background-color: #f0f0f0;
            color: #333;
        }
        
        .body-light-mode input, .body-light-mode select, .body-light-mode button {
            background-color: #ffffff;
            color: #333;
            border: 1px solid #ddd;
        }
        
        .dark-mode-toggle {
            position: fixed;
            top: 10px;
            right: 10px;
        }
        
        .dark-mode-toggle label {
            display: block;
            width: 60px;
            height: 34px;
            background-color: #6eec07; /* Green for active state */
            border-radius: 50px;
            position: relative;
            cursor: pointer;
        }
        
        .dark-mode-toggle label:after {
            content: "";
            display: block;
            width: 26px;
            height: 26px;
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            top: 4px;
            left: 4px;
            transition: transform 0.3s ease-in-out;
        }
        
        .dark-mode-toggle input[type="checkbox"]:not(:checked) + label {
            background-color: #ddd;
        }
        
        .dark-mode-toggle input[type="checkbox"]:not(:checked) + label:after {
            transform: translateX(0);
        }
        
        .dark-mode-toggle input[type="checkbox"]:checked + label:after {
            transform: translateX(26px);
        }
        
        #darkModeToggle{
            display: none;
        }