/* Fonte padrão para telas pequenas */
tr td {
    font-size: 0.7rem;
}

th {
    font-size: 0.5rem;
}

/* Fonte para telas médias (largura mínima de 600px) */
@media (min-width: 600px) {
    tr td {
        font-size: 0.9rem;
    }

    th {
        font-size: 0.7rem;
    }
}

/* Fonte para telas grandes (largura mínima de 1024px) */
@media (min-width: 1024px) {
    tr td {
        font-size: 1.1rem;
    }

    th {
        font-size: 0.9rem;
    }
}

.partoftop {
    padding: 1rem;
    padding-top: 0;
}

/* Ajustes finos com unidades responsivas */
tr td {
    font-size: calc(0.5rem + 0.5vw);
}

th {
    font-size: calc(0.4rem + 0.5vh);
}

main {
    padding: 0;
    width: 100%;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #2B2B2B;
    color: white;
    font-family: Arial, sans-serif;
}
aside {
    width: 20%;
    height: 100vh;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #444444;
}
button, .button-like, .id-button {
    padding: 10px;
    margin: 5px;
    background-color: #333333;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}
button:hover, .button-like:hover, .id-button:hover {
    background-color: #555555;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #444444;
}
th {
    background-color: #333333;
}
.data {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
#idsContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 20px;
    white-space: nowrap;
}
.modal {
    display: none; /* Certifique-se que isso muda para 'block' */
    position: fixed;
    z-index: 1050; /* Suficientemente alto para estar sobre outros conteúdos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Cor de fundo com opacidade */
    color: white;
}

.modal-content {
    color: white;
    background-color: #333333;
    margin: 15% auto; /* Ajuste conforme necessário */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Ajuste conforme necessário */
}
