/* Fonte padrão para telas pequenas */
tr td {
  font-size: 0.7rem;
}

th {
  font-size: 0.7rem;
}

/* Fonte para telas médias (largura mínima de 600px) */
@media (min-width: 600px) {
  tr td {
    font-size: 0.9rem;
  }

  th {
    font-size: 0.7rem;
  }
}

#resultsTable {
  width: 100%;
  overflow-x: auto !important;
  max-width: 87vw;
}

/* Fonte para telas grandes (largura mínima de 1024px) */
@media (min-width: 1024px) {
  tr td {
    font-size: 1.1rem;
  }

  th {
    font-size: 0.9rem;
  }
}

/* Defina as cores para as colunas pares e ímpares */
.col-even {
  background-color: #292929; /* Cinza claro */
}

.col-odd {
  background-color: #303030; /* Cinza escuro */
}

/* Ajustes finos com unidades responsivas */
tr td {
  font-size: calc(0.5rem + 0.5vw);
}

th {
  font-size: calc(0.6rem + 0.5vh);
  font-weight: normal;
}

main {
  padding: 0;
  width: 100%;
  height: 100vh; /* Ocupa toda a altura da viewport */
  display: flex;
}

header {
  font-size: 1rem;
  width: 100%;
  background: #0f0f0f;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: normal;
}

.botoesheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #0f0f0f;
  height: 5rem;
  border: solid 1px #6a6a6a45;
  align-items: center;
  width: 100%;
  border-left: none;
  border-bottom: solid 1px #353535;
  box-sizing: border-box;
  border-radius: 0 !important;
}
.logoStockfy {
  width: 60px;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #2b2b2b;
  color: white;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}

aside {
  width: 15vw;
  height: 100vh;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #2f2f2f;
}

button {
  background-color: #333333;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.button-like {
  background-color: rgb(68, 68, 68);
  width: 25%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
}

.partofside {
  width: 85vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.id-button {
  padding: 0.8rem;
  color: #656565;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.id-button:hover {
  background: #4e3762;
  color: #bd70f2;
}

.id-button:focus {
  background: #4e3762;
  color: #bd70f2;
}

button:hover,
.button-like:hover {
  background-color: #555555;
}

.flatpickr-input {
  margin: 0 !important;
  width: 25%;
}

table {
  border: none;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: none;
}

th {
  background-color: #333333;
}

.data {
  display: flex;
  justify-content: space-around;
  background: #5f5f5f;
}

#idsContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 0; /* Removido o espaço inferior */
  white-space: nowrap;
  padding: 1rem;
}

.modal {
  position: fixed;
  z-index: 1050; /* Suficientemente alto para estar sobre outros conteúdos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo com opacidade */
  color: white;
  display: none; /* Ocultar o modal */
  justify-content: center;
  align-items: center;
}

.modal-content {
  color: white;
  background-color: #0f0f0f;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Ajuste conforme necessário */
  max-width: 600px; /* Limita o tamanho máximo do modal */
  border-radius: 8px;
}

.modal-content p {
  margin: 10px 0; /* Espaçamento entre os parágrafos */
}

.modal-content button {
  background-color: #333333;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.modal-content button:hover {
  background-color: #555555;
}

#btnHistoricoPartNumber,
#btnHistoricoChapa,
#btnHistoricoMaquina {
  margin-bottom: 0;
  margin: 1rem;
  padding: 0.8rem;
  background: #353535;
  color: #767676;
  border-radius: 0.5rem;
  width: 80%;
  border: none;
  cursor: pointer; /* Adiciona o cursor de ponteiro para indicar que é um botão clicável */
  transition: background 0.3s, color 0.3s; /* Transições suaves para hover e focus */
}

#btnHistoricoPartNumber:hover,
#btnHistoricoChapa:hover,
#btnHistoricoMaquina:hover {
  background: #444444;
  color: #ffffff;
}

#btnHistoricoPartNumber:focus,
#btnHistoricoChapa:focus,
#btnHistoricoMaquina:focus {
  background: #4e3762;
  color: #bd70f2;
  outline: none; /* Remove o contorno padrão do navegador */
}

#btnHistoricoPartNumber:active,
#btnHistoricoChapa:active,
#btnHistoricoMaquina:active {
  background: #4e3762;
  color: #bd70f2;
}

#tableContainer {
  flex: 1;
  overflow-y: auto; /* Permite rolagem vertical */
  overflow-x: hidden; /* Impede a rolagem horizontal */
}

/* Estilização da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #212121;
}

/* Estilo específico para #chapasList */
#chapasList {
  position: absolute;
  background-color: #333;
  color: white;
  padding: 10px;
  border: 1px solid #555;
  z-index: 1000;
}

#chapasList ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#chapasList li {
  margin: 5px 0;
}

#chapasList button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  text-align: left;
  width: 100%;
  transition: background-color 0.3s;
}

#chapasList button:hover {
  background-color: #555;
}
