name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_PAT }}

    - name: Build and push client Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./client.dockerfile
        push: true
        tags: ghcr.io/gigio42/pisegundosem/client:latest

    - name: Build and push server Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./server.dockerfile
        push: true
        tags: ghcr.io/gigio42/pisegundosem/server:latest

    - name: Build and push database Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./database.dockerfile
        push: true
        tags: ghcr.io/gigio42/pisegundosem/database:latest
